<ion-tabs>
    <ion-tab [root]="tripsRoot" tabTitle="Voyages" tabIcon="jet"></ion-tab>
    <ion-tab [root]="searchRoot" tabTitle="Recherche" tabIcon="search"></ion-tab>
    <ion-tab [root]="settingsRoot" tabTitle="Paramètres" tabIcon="cog"></ion-tab>
</ion-tabs>
