<!--
  Generated template for the TripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Voyages</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTrip()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor = "let trip of myTrips" >
      <ion-item (click)="goToDetails(trip)">
        <ion-avatar item-start>
          <img [src]="trip.image">
        </ion-avatar>
        <h2>{{trip.titre}}</h2>
        <p>{{trip.description}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
