<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{trip.titre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="background-image" [style.background-image]="'url('+trip.image+')'">
  </div>
</ion-content>
